@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

.active {
  background-color: #494848 !important;
  color: #fff !important;
  border-radius: 3px;
}
.menu-horizontal li {
  padding-left: 5px;
}
.menu-horizontal a:hover {
  background-color: #3b3b3b !important;
  color: #fff !important;
  border-radius: 3px;
}
.menu-horizontal a:focus {
  color: #fff !important;
}

.btn {
  border-radius: 3px;
  font-weight: 700;

  text-transform: capitalize;
}
.body-btn:hover {
  background-color: #54595f;
  border-color: #54595f;
}

.text-control {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
